<h1>Welcome to the Course Catalog Editing Menu.</h1>
<p> 
Click <%= link_to "Here", courses_path %> to view and edit Courses.
</p>
<p> 
Click <%= link_to "Here", professors_path %> to view and edit Professors.
</p>
<p> 
Click <%= link_to "Here", sections_path %> to view and edit Sections.
</p>